body {
  background-color: #FFFFFF !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}



li .active {
  color: #FFFFFF;
}

/* Card Morada */
.btn-morado {
  background: #FFFFFF !important;
  border: 3px solid #7A69D2 !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.bg-morado {
  background: #7A69D2 !important;
}

.card-morado {
  background-color: #F5F2FF !important;
  color: #7A69D2 !important;
}


/* Card naranja */
.btn-naranja {
  background: #FFFFFF !important;
  border: 3px solid #EE8259 !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.bg-naranja {
  background: #EE8259 !important;
}

.card-naranja {
  background-color: #FFF2EC !important;
  color: #EE8259 !important;
}

/* Card Rojo */
.btn-rojo {
  background: #FFFFFF !important;
  border: 3px solid #FD5286 !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.bg-rojo {
  background: #FD5286 !important;
}

.card-rojo {
  background-color: #FFE7EB !important;
  color: #FD5286 !important;
}

/* Card Azul */
.btn-azul {
  background: #FFFFFF !important;
  border: 3px solid #3D73FF !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.bg-azul {
  background: #3D73FF !important;
}

.card-azul {
  background-color: #B9E1FF !important;
  color: #3D73FF !important;
}

/* Card Azul-light */
.btn-azul-light {
  background: #FFFFFF !important;
  border: 3px solid #3DB1CB !important;
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50% !important;
}

.bg-azul-light {
  background: #3DB1CB !important;
}

.card-azul-light {
  background-color: #ECFBFF !important;
  color: #3DB1CB !important;
}

/* Card  verde light*/
.btn-verde-light {
  background: #FFFFFF !important; 
  border: 3px solid #72A96F !important; 
  width: 1rem !important; 
  height: 1rem !important; 
  border-radius: 50% !important; 
}

.bg-verde-light {
  background: #72A96F !important; 
}

.card-verde-light {
  background-color: #EBFFF1 !important; 
  color: #72A96F !important; 
}

/* Card  verde dark*/
.btn-verde-dark {
  background: #FFFFFF !important; 
  border: 3px solid #21C5A0 !important; 
  width: 1rem !important; 
  height: 1rem !important; 
  border-radius: 50% !important; 
}

.bg-verde-dark {
  background: #21C5A0 !important; 
}

.card-verde-dark {
  background-color: #E5FFF1 !important; 
  color: #21C5A0 !important; 
}

.card-verde {
  background-color: #EFFCEF !important; 
}

.card-azul {
  background-color: #E6F5F9 !important; 
}

.content {
  flex: 1 !important; 
  overflow-y: auto !important; 
}

.inp-color-secondary {
  background-color: #FBFAF5;
}

.text-3-line {
  display: -webkit-box;
  /* Para navegadores Webkit */
  -webkit-line-clamp: 3;
  /* Número máximo de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Agrega puntos suspensivos al final si el texto se corta */
  height: 3.5em;
  /* Ajusta la altura para que se muestren dos líneas */
  line-height: 1.25em;
  /* Ajusta el interlineado para que se muestren dos líneas */
}

.fw-bold {
  font-weight: 700;
}

.fw-light {
  font-weight: 300;
}

.rounded-diam {
  transform: skewX(-25deg);
}

.text-small {
  font-size: 0.7rem !important;
}

.text-medium {
  font-size: 0.9rem !important;
}

.content-page-100 {
  height: 100vh;
}

.text-color-primary {
  color: #fbf8f2 !important;
}

.color-primary {
  background-color: #fbf8f2;
}

.color-fondo {
  background-color: #FFFFFF !important;
}

.color-secondary {
  background-color: #FFFFFF;
}

div .active {
  background-color: #FFFFFF !important;
  color: #F6B30F !important;
  font-weight: 700 !important;

}

.bi {
  font-size: 2em;
}

.bi-sm {
  font-size: 1em !important;
}

.text-icon {
  font-size: 1em !important;
}

.text-span {
  display: flex;
  transform: skewX(25deg);
}

@media (max-width: 991.98px) {

  .content-page-100 {
    height: auto;
  }

  .body-login {
    height: 100vh;
  }

  .bi {
    font-size: 1em !important;
  }

  .text-icon {
    font-size: 1em !important;
  }
}

@media (max-width: 575.98px) {
  .content-page-100 {
    height: auto;
  }

  .body-login {
    height: auto;
  }

  .bi {
    font-size: 1em !important;
  }

  .text-icon {
    font-size: 0.7em !important;
  }
}

.spinner-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
